<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户文件列表页面</title>
</head>
<body>

<h1>欢迎：<span th:if="${session.user != null}" th:text="${session.user.username}"></span></h1>
<h3>文件列表:</h3>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>文件原始名称</th>
        <th>文件新名称</th>
        <th>文件后缀</th>
        <th>存储路径</th>
        <th>文件大小</th>
        <th>类型</th>
        <th>是否是图片</th>
        <th>下载次数</th>
        <th>上传时间</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>1</td>
        <td>aa.txt</td>
        <td>uuid.txt</td>
        <td>.txt</td>
        <td>/files</td>
        <td>1024</td>
        <td>text/plain</td>
        <td>否</td>
        <td>11</td>
        <td>2020-12-12</td>
        <td>
            <a href="">下载</a>
            <a href="">在线打开</a>
            <a href="">删除</a>
        </td>
    </tr>
    <h3>上传文件:</h3>
    <form action="">
        <input type="file" name="aaa" >
        <input type="submit" value="上传文件">
    </form>
</table>

</body>
</html>